h2 {
  color: var(--color-accent);
}

.exercises-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    all: unset;
  }
}

.exercises-list {
  list-style: none;
  padding: 0;
}
