.card--training {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card__subtitle {
  font-size: var(--font-size-base);
  color: var(--color-text-secondary);
}

.card__list {
  list-style: disc inside;
  padding: 0;
  margin: 0;
  color: var(--color-text-primary);
  font-size: var(--font-size-base);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
